<a href="https://colab.research.google.com/github/ALLASAIKAUSHI/python/blob/MODULE-5/mid_1_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## write a program to print prime numbers in given range by using function the range value is 25 to 50
def prime():
  for i in range (25,50+1):
    
      if(x>1):
    for i in range(2,i):
      if(x%i=0)
        break;
    else:
      print(x)
prime(l,m)

IndentationError: ignored

In [ ]:
## write a program to read any month in integer and display days for that month
a=int(input())
if (a==1 or a==3 or a==5 or a==7 or a==8 or a==10 or a==12):
  print("31 days")
elif (a==4 or a==6 or a==9 or a==11):
  print("30 days")
elif(a==2):
  print("28 days")
else:
  print("no months")

3
31 days

In [ ]:
## write a python program to print even length words in a string
## input "this is python class"
## output "This is python"
s =  "This is python class"
s=s.split(' ')
for x in s:
  if len(x)%2==0:
    print(x,end=' ')

This is python

In [ ]:
## a. write a python program to capitalize the first and last letter of each word
a=str(input())
b=a.split()
for i in b:
  x=i.capitalize()
  print(x)

gfd gfs v
Gfd
Gfs
V
Hello My Name Is Peter

In [ ]:
## b. write a program to read a string from user display first character of each word with capital
a=str(input())
b=a.split(' ')
z=(" ")
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  z=x[0:-1]+y
  print(z, end=" ")

i am alone
I AM AlonE

In [2]:
##  write a python program to convert a list of multiple integers into a single integer
## input [11,33,50]
## output [113350]
a=eval(input())
b=" "
for i in a:
  b+=str(i)
print(b)

[11,33,50]
 113350

In [3]:
## DAY 2
## write a python program to find power of number with recursion and without recursion
## input N=2 , P=3
## output : 8
n=int(input())
p=int(input())     ## without recursion
k=print(pow(n,p))

2
3
8

In [ ]:
## with recursion

In [7]:
## write a program to sort tuples by total digits 
## input : list=[(3,4,6,723),(1,2),(134,234,34)]
## output : ascending order output
lists=[(3,4,6,723),(1,2),(134,234,34)]
lists.sort()
lists

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [5]:
## take 5 subjects marks from user and display the grade of the student
## condition: if average is 90-100 A+
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
avg=(a+b+c+d+e)/5
if avg>=90:
  print("a grade")
elif avg>=80:
  print("b grade")
elif avg>=70:
  print("c grade")
elif avg>=60:
  print("d grade")
else:
  print("fail")

98
85
89
98
95
a grade

In [ ]:
## write a python program that prints one if all the three given numbers are in ascending order

In [ ]:
## check given number is perfect number or not

In [8]:
## check the given string is palindrome or not
a=input()
b=a[::-1]
if(a==b):
  print("palin")
else:
  print("not a palin")

alla
palin

In [ ]:
## print sum of even digits in a given number

In [ ]:
## write a program to calculate sum of squares of digits of a number given by user123 1^2+2^2+3^3=14

In [ ]:
## given a string s,
## input:abcdefcba. how many times ith output ith output is 3
## print count back matches

In [ ]:
## given an integer n,returning a list contaning 11223334444 and finally n repeated n times(n>0)
## print(repeatnumber(4))

In [ ]:
## print number of vowels and consonants in a string

In [ ]:
## given two integers a and b if a is less than, print all numbers between ascending order.if a is greater than b print all numbers in descending order

In [ ]:
## program to print max number among three numbers

In [ ]:
## write a program to count the number of strings where the string length is two or more and the first and last character are same from given list of strings

In [ ]:
##

In [ ]:
## given a list of students and a character ,display the names of students whose first letter is given character

In [ ]:
## given a list of city names whose length is greater than given length