<a href="https://colab.research.google.com/github/ALLASAIKAUSHI/python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## SETS ARE UNORDERED
a={"kaushik","saipavan","saicharan"}
print(a)

{'saipavan', 'kaushik', 'saicharan'}

In [3]:
a={"1","2","3","4"}
print(a)

{'2', '4', '3', '1'}

In [4]:
myset={"python","java","html","python"}
print(myset)

{'java', 'python', 'html'}

In [5]:
myset={"python","java","html","python"}
print(len(myset))

3

In [6]:
myset={"python","java","html","python"}
print(type(myset))

<class 'set'>

In [7]:
## Access set items
myset={"python","java","html"}
for x in myset:
  print(x)

java
python
html

In [9]:
myset={"python","java","html"}
print("java" in myset)

True

In [13]:
## add set items
myset={"python","java","html"}
myset.add("javascript")
print(myset)

{'java', 'python', 'javascript', 'html'}

In [12]:
myset={"k","a","u","s","h","i"}
tropical={"s","a","i"}
myset.update(tropical)
print(myset)

{'h', 'u', 'i', 's', 'k', 'a'}

In [14]:
##Remove set items
myset={"python","java","html"}
myset.remove("java")
myset.add("saipavan")
print(myset)

{'python', 'saipavan', 'html'}

In [15]:
myset={"python","java","html"}
myset.discard("java")
print(myset)

{'python', 'html'}

In [16]:
myset={"python","java","html"}
a=myset.pop()
print(a)
print(myset)

java
{'python', 'html'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)## the set no longer exists so gives error

NameError: ignored

In [21]:
##join sets
set1= {"o","k","s","i","r"}
set2= {1 ,2 , 3 ,4, 5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 'i', 'o', 's', 'k', 'r'}