<a href="https://colab.research.google.com/github/ALLASAIKAUSHI/python/blob/main/STRINGS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=['Transformers']
print(a)

['Transformers']

In [5]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(len(a))
print(a)

123
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [9]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("K"in a)

False

In [10]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("H"in a)

True

In [13]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("K"in a)
print('ude'in a)

False
True

In [16]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("k" in a)
print("college"not in a)

True
False

In [17]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("K"in a)
print("college"in a,"sir"in a)

False
True False

In [18]:
##checking a string is existing or not 
a='''Hello i am kaushik student of 
     Gitam college.'''
print("K"in a)
print("college"not in a,"kaushik"in a)

False
False True

In [30]:
## SLICING OF THE STRING
a="I want to get a job and well settled in america"
print(a[2:11])

want to g

In [37]:
## MODIFYING A STRING
a = "hi friends"
b="kaushik"
print(a.upper())
print(a.lower())
print(b.lower())
print(b.upper())

HI FRIENDS
hi friends
kaushik
KAUSHIK

In [46]:
# REMOVING WHITE SPACE IN A STRING
a ="     SUBS"    "CRIBE"    
print(a.strip())

SUBSCRIBE

In [60]:
## REPLACING OF A STRING
a = "Hello, World!"
b = "Hlo , There"
print(a.replace("H","k"),a.replace("e","d"))
print(b.replace("H","J"))

kello, World! Hdllo, World!
Jlo , There

In [62]:
##SPLIT STRING
a = "Sai, kaushik"
print(a.split(","))

['Sai', ' kaushik']

In [65]:
##String Concatenation
a = "Trans"
b = "formers"
c = a + b
print(c)
c = a + " " + b
print(c)

Transformers
Trans formers

In [68]:
##STRING FORMAT
age = 18
txt = "My name is Kaushik, I am {}"
print(txt.format(age))

My name is Kaushik, I am 18

In [77]:
quantity = 3
chips= 10
price = 30
myorder = "I want to pay {} packets of rupees {} for {} rupees."
print(myorder.format(quantity, chips, price))

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 3 packets of rupees 10 for 30 rupees.
I want to pay 49.95 dollars for 3 pieces of item 567.

In [83]:
## ESCAPE CHARACTERS
txt = "Trans\nformers"
print(txt)

Trans
formers

In [86]:
## CAPITLIZING METHOD
txt= "hlo, Kaushik"
x = txt.capitalize()
print(x)

Hlo, kaushik

In [87]:
## SWAPING METHOD
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter